<div class="desktop-view d-none d-sm-flex">
  <div class="m-4 f-20">
    Sort
  </div>
  <div class="m-4 pointer" (click)="optionSelected('price',false)">
    Price -- High Low
  </div>
  <div class="m-4 pointer" (click)="optionSelected('price',true)">
    Price -- Low High
  </div>
  <div class="m-4 pointer" (click)="optionSelected('discount',true)">
    Discount
  </div>
</div>
<div class="mobile-view d-flex d-sm-none">
  <div class="m-4 f-20" data-toggle="modal" data-target=".bd-modal-sm" (click)="optionSelected(true)">
    <i class="fa fa-sort mr-1"></i>Sort
  </div>
</div>