<div class="row d-flex">
  <div class="col-6 col-sm-10 col-md-10 col-lg-10 d-flex d-sm-none outlineCol">
    <app-sort  (sortVal)="getSortByKey($event)" ></app-sort>
  </div>
  <div class="col-6 col-sm-2 col-md-2 col-lg-2 outlineCol">
    <app-filter></app-filter>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 d-none d-sm-flex">
    <app-sort  (sortVal)="getSortByKey($event)" ></app-sort>
  </div>
</div>
<div class="row d-flex">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 outlineCol d-none d-sm-flex"></div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-6 col-md-3 col-sm-3 col-lg-3 outlineCol" *ngFor="let item of productDetails | SortBy:keyName:asc;let i = index">
        <app-product [item]="item" class="m-1"></app-product>
      </div>
    </div>
  </div>
</div>