<div class="row d-flex">
  <div class="col-6 col-sm-6 col-md-2 col-lg-2 outlineCol">
    <app-filter></app-filter>
  </div>
  <div class="col-6 col-sm-6 col-md-10 col-lg-10">
    <app-sort  (sortVal)="getSortByKey($event)" ></app-sort>
  </div>
</div>
<div class="row d-flex">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 outlineCol d-none d-sm-flex">
    <ng5-slider class="slider-container" [(value)]="value" [options]="options" (valueChange)="filterProductList($event)"></ng5-slider>
    <div class="btn-container">
      <button class="btn btn-primary">Apply</button>
    </div>
  </div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-6 col-md-3 col-sm-3 col-lg-3 outlineCol" *ngFor="let item of productDetails | SortBy:keyName:asc;let i = index">
        <app-product [item]="item" class="m-1"></app-product>
      </div>
    </div>
  </div>
</div>
<app-model-option (sortVal)="getSortByKey($event)"></app-model-option>