.outlineCol{
    border:1px solid#e2e3e4;
}
.slider-container{
	position: relative;
    width: 100%;
    padding: 25px 0;
    display: block;
}
.btn-container{
	position: relative;
    width: 100%;
    padding: 25px 0;
}
