

    <div class="product-grid4">
        <div class="product-image4">
            <a href="#">
                <img class="pic-1" [src]="item.img_url">
                </a>
            <ul class="social">
                <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <span class="product-new-label">New</span>
            <span class="product-discount-label">-10%</span>
        </div>
        <div class="product-content">
            <h3 class="title"><a href="#">{{item.name}}</a></h3>
            <div class="price">
                ${{item.price}}
                <span>${{item.price-(item.price/item.discount)| number:'3.1-2'}}</span>
            </div>
            <a class="add-to-cart btn btn-warning" href="">ADD TO CART</a>
        </div>
    </div>

  