
@import '~font-awesome/css/font-awesome.css';
@font-face {
    font-family: Verdana;
    src: url(assets/fonts/Verdana.ttf) format("opentype");
  }
  * {
    font-family: 'Verdana';
  }
  body{
    background-color: #f1f3f6 !important;
  }
  .pointer{
	  cursor: pointer;
  }
  ::-webkit-input-placeholder {
	color: #fff;
}
  