<div class="modal fade bd-modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="prodService.sendModel()=='sort'">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLongTitle">Sort Options</h5>
      </div>
      <div class="modal-body">
        <div class="custom-control custom-radio custom-control-block">
          <input type="radio" id="sort-by-high-price" name="itemSortBy" class="custom-control-input" (change)="sortObj.keyName='price';sortObj.asc=false;">
          <label class="custom-control-label" for="sort-by-high-price"><b>Price -- High to Low</b></label>
        </div>
        <div class="custom-control custom-radio custom-control-block">
          <input type="radio" id="sort-by-low-price" name="itemSortBy" class="custom-control-input" (change)="sortObj.keyName='price';sortObj.asc=true;">
          <label class="custom-control-label" for="sort-by-low-price"><b>Price -- Low to High</b> </label>
        </div>
        <div class="custom-control custom-radio custom-control-block">
          <input type="radio" id="sort-by-discount" name="itemSortBy" class="custom-control-input" (change)="sortObj.keyName='discount';sortObj.asc=true;">
          <label class="custom-control-label" for="sort-by-discount"><b>Discount</b> </label>
        </div>
      </div>
      <div class="modal-footer my-footer-modal">
        <span class="text-left" data-dismiss="modal">Cancel</span>
        <span class="text-right" data-dismiss="modal" (click)="optionSelected(sortObj.keyName,sortObj.asc)">Apply</span>
      </div>    
  </div>
</div>