<nav class="mb-4 navbar fixed-top navbar-expand-lg navbar-dark cyan">
  <div class="col-2">
    <h1 class="text-warning"><i class="fa fa-star" aria-hidden="true"></i></h1>
  </div>
  <div class="col-8 ">
    <input type="text" placeholder="Search.." class="searchInput col-8 col-sm-10" name="search">
    <span class="text-light col-8 col-sm-2"><i class="fa fa-search"></i></span>
  </div>
  <div class="col-2 text-">
    <h1 class="text-light pull-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
  </div>
</nav>