<div class="row d-none d-sm-flex">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 outlineCol">
    <div class="m-4 f-20" data-toggle="modal" data-target=".bd-modal-sm" (click)="optionSelected(false)">
      <i class="fa fa-filter mr-1"></i>Filter</div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 d-sm-flex">
    <div class="m-4 f-20">
      Sort
    </div>
    <div class="m-4 f-20 pointer" (click)="optionSelected(true)">
      Price -- High Low
    </div>
    <div class="m-4 f-20 pointer" (click)="optionSelected(true)">
      Price -- Low High
    </div>
    <div class="m-4 f-20 pointer" (click)="optionSelected(true)">
      Discount
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-2 col-md-2 col-lg-2">
    <div class="row d-flex d-sm-none">
      <div class="col-6 col-sm-12 outlineCol text-center">
        <div class="m-4 f-20" data-toggle="modal" data-target=".bd-modal-sm" (click)="optionSelected(true)">
          <i class="fa fa-sort mr-1"></i>Sort
        </div>
      </div>
      <div class="col-6 col-sm-12 outlineCol text-center">
        <div class="m-4 f-20" data-toggle="modal" data-target=".bd-modal-sm" (click)="optionSelected(false)"><i class="fa fa-filter mr-1"></i>Filter
        </div>
      </div>
    </div>
    <div class="row d-none d-sm-flex">
      <div id="slider-range"></div>
    </div>
  </div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-6 col-md-3 col-sm-3 col-lg-3 outlineCol" *ngFor="let item of productDetails;let i = index">
        <app-product [item]="item" class="m-1"></app-product>
      </div>
    </div>
  </div>
</div>